body {
    margin: 0;
    background-color: #303030;
}

.barre-de-selection {
    background-color: #383838;
    border-radius: 35px;
    width: 1000px;
    display: flex;
    justify-content: center;    
}

.selcetion {
    display: flex;
    justify-content: center;
}

barre-de-selection {
    #logo-barre-de-selection {
        margin: 10px;
        border-radius: 5px;
    }

    .img-barre-de-selection {
        max-height: 50px;
        margin-left: 0px auto;
    }
    a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-family: Verdana;
        margin: 25px;
        font-size:large;
    }
    a:hover {
        color: orangered;
    } 
}

.premiere-partie {
    display: flex;
    justify-content: center;
}

#REJOIGNEZ-NP-EMPIRE{
    margin: 80px;
    p {
        font-family: Verdana;
        color: white;
    }
}

page-de-mi-en-avant {
    h4{
        color: orangered;
        font-family: Verdana;
    }
    h1 {
        color: white;
        font-style:oblique;
        font-family: Verdana;
        font-size: 60px;
    }
}

.Enssemble-de-bouton {
    display: flex;
}

a{
    text-decoration: none;
}

#bouton-jouer {
    background-color: orangered;
    height: 57px;
    width: 300px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 8px;
    font-family: Verdana;
}

#bouton-En-savoir-plus {
    background-color:#383838;
    height: 57px;
    width: 300px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-size: 8px;
    font-family: Verdana;
    margin-left: 20px;
}

img {
    object-fit: contain;
    height:calc(325px);
}

presentation {
    .table-presentation {
        margin: 0px auto;
    }
    #c-est-quoi {
        color: white ;
        height: 350px;
        width: 600px;
        text-align: center;
        border-radius: 10px;
        border: 7px;
        font-size: 20px;
        font-family: Verdana;
        margin: 30px;
    }
    #PK-ce-nom {
        color: white ;
        background-color: #2a61f5;
        height: 350px;
        width: 600px;
        text-align: center;
        border-radius: 10px;
        border: 7px;
        font-size: 20px;
        font-family: Verdana;
        margin: 30px;
    }
    #Fonctionnement-de-NP-Empire {
        color: white ;
        background-color: #2a61f5;
        height: 350px;
        width: 600px;
        text-align: center;
        border-radius: 10px;
        border: 7px;
        font-size: 20px;
        font-family: Verdana;
        margin: 30px;
    }
    #Quel-est-le-but-de-ce-projet{
        color: white ;
        height: 350px;
        width: 600px;
        text-align: center;
        border-radius: 10px;
        border: 7px;
        font-size: 20px;
        font-family: Verdana;
        margin: 30px;
    }
}

.img-fondateur {
    display: flex;
    justify-content: center;
}

.fondateur {
    display: flex;
    justify-content: center;
}

fondateur {
    #Nanofly{
        display: flex;
        margin: 30px;
        color: white;
        background-color:#383838 ;
        width: 550px;
        font-family: verdana;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        .margin {
            margin: 20px;
        }
    }
    #DemonBlock{
        display: flex;
        margin: 30px;
        color: white;
        background-color:#383838 ;
        width: 550px;
        font-family: verdana;
        border-radius: 15px;
        justify-content: center;
        text-align: center;
        .margin {
            margin: 20px;
        }
    }
}